body {
  background: linear-gradient(120deg, #181a1b, #211e5f, #b846e5);
  background-size: 200% 200%;
  animation: gradientMove 8s ease-in-out infinite;
  color: #eaeaea;
  margin: 0;
  min-height: 100vh;
  font-family: 'Segoe UI', Arial, sans-serif;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
.App{
  animation : fadeIn 1s ease;
}
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.navbar {
  background: rgba(34, 35, 37, 0.60);
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  animation: slideDown 0.8s ease;
}

.navbar-brand {
  font-size: 1.3rem;
  font-weight: bold;
  color: #eaeaea;
  text-align: left;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.navbar-links a {
  color: #eaeaea;
  text-decoration: none;
  font-weight: 500;
  padding-bottom: 2px;
  transition: border-bottom 0.2s;
}

.navbar-links a.active,
.navbar-links a:hover {
  border-bottom: 2px solid #b846e5;
}

.contact-btn {
  border: 1px solid #4f46e5;
  border-radius: 4px;
  padding: 0.3rem 0.8rem;
  margin-left: 2rem;
}

.main-content {
  max-width: 65%;
  margin: 2rem auto;
  padding: 0 2rem;
}
.intro-section {
  text-align: left;
  animation: slideUp 1s 1s ease both;
}
.intro-section h1 {
  font-size: 2.5rem;
  color: #ffffff;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.intro-section h2 {
  font-size: 1.5rem;
  color: #ffffff;
  margin-bottom: 1rem;
}

.intro-section p {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
}

.footer {
  background: rgba(34, 35, 37, 0.60);
  color: #888;
  text-align: center ;
  padding: 1rem 0;
  margin-top: 3rem;
}