.intro-section {
  text-align: left;
}

.intro-section h1 {
  margin-top: 0.5rem;
}

.skills {
  line-height: 1.6;
}
.section {
  width: 100%;
  max-width: 1100px;      
  margin: 2rem auto 0;    
  padding: 0 1rem;        
  text-align: left;
  animation: slideUp 1s 1s ease both;
}


